section{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icons{
    background: #00aaff;

}

  .iconbtn{
    width: 120px;
    height: 120px;
    text-decoration: none;
    margin: 30px;
    position: relative;
    font-size: 45px;
    border-radius: 50%;
  }

  .iconbtn::before{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  .iconbtn::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 0;
  }
  
  .icons .iconbtn{
    border: 4px solid #fff;
    /* color: #00aaff; */
    color: #111;
  }
  .icons .iconbtn::after{
    background: #fff;
    transition: 0.4s;
  }
  .icons .iconbtn:hover::after{
    transform: scale(1.3);
    opacity: 0;
  }

  .icons .iconbtn:hover{
    color: #fff;
    animation: ro 2s linear infinite;
  }
  
  @keyframes ro {
    0%{
      transform: rotate(0);
    }
    100%{
      transform: rotate(360deg);
    }
  }

  @media screen and (max-width: 786px){
    .icons{
        display: block;
    }

    section {
      margin-top: 5vh;
    }
  }


.digital-library-head {
  background-color: #00aaff;
  font-size: 3.8vh;
  text-align: center;
  padding-top: 2vh;
  margin-bottom: -5vh;
  font-weight: bold;
}