.stagger-visualizer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 17rem;
    margin: auto;
    margin-top: 5rem;
  }
  
  .stagger-visualizer div {
    /* position: absolute; */
    width: 1rem;
    height: 1rem;
    border: 1px solid #FFF;
    background-color: #000;
    z-index: -1;
  }