.contact-body {
    min-height: 100vh;
    background-color: #000;
    padding: 10vh 6vw;
    color: #00aaff;
    font-weight: 500;
    font-size: 3.2vh;
}

.contact-divi {
    color : '#00aaff';
    background-color: #000;
    font-size: 15px;
};

@media screen and (max-width: 786px) {
    .map-container {
        margin: 0px 0px;
        display: none;
    }
}

.contacts{
font-size: 20px;
}
.contactno{
    background-color: #a9a9a921;
}