.about-ioit-container {
    width: 70%;
    margin: auto;
}

.about-ioit-header {
    font-size: 3.5vh;
    color: #00aaff;
    padding-top: 10vh;
    padding-bottom: 5vh;

    margin: auto;
    width: fit-content;
}

.about-ioit-body {
    font-size: 2.5vh;
    color: #fff;
    padding-bottom: 10vh;

    text-indent: 6rem;
    text-align: justify;
}