.jumbotron--body{
    background-color: #111;
    padding-bottom: auto;
    padding-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

h1{
    text-align: center;
    color: #FFFFFF;
}

h3{
    text-align: center;
    color: #999999;
    margin-top: 50px;
    padding-bottom: 0.25%;
}