.animation-wrapper {
    width: 50%;
    padding-bottom: 50%;
}

.sphere-animation {
    width: 50vh;
    height: 50vh;
    margin-left: 27%;
    margin-top: 5%;
}

.sphere path {
    fill: url(#sphereGradient);
    stroke-width: 1px;
    stroke: rgba(53, 53, 53, 0.35);
    backface-visibility: hidden;
}

@media (min-width: 500px) {
    .sphere path {
        stroke-width: 2px;
    }
}

@media screen and (max-width: 786px) {
    .sphere-animation {
        margin-left: 2vw;
        display: none;
    }

    .animation-wrapper {
        display: none;
    }
}