.title-animation, base {
    width: auto;
    height: 100vh;
    background-color: #000;
}

.title-animation-title {
    color: #00aaff;
    margin: auto;
    font-size: 4vh;
    padding-left: 10%;
}

.title-animation-side {
    color: #00aaff;
    margin: auto;
    padding-left: 10%;
}

.title-animation-square {
    height: 5vh;
    width: 5vh;
    background-color: #00aaff;
    border-radius: 15%;
}

.scroll-indicator {
    margin-top: 20vh;
    font-size: 4vh;
    color: #00aaff;
    padding-right: 5.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media screen and (max-width: 786px) {
    .title-animation-side {
        display: none;
    }
}