.News{
  font-family: 'Raleway';
}
.News-heading{
  color: #0069cc;
}
.Link{
  bottom: 20px;
  color: #00aaff;
  cursor: pointer; 
}

.news-body{
  padding-top: 5%;
  margin-block: 0%;
  min-height: 70vh;
  background: #111;
}

.news-header {
  margin-bottom: 3vh;
  font-size: 3.2vh;
  color: #00aaff;
  text-align: center;
}
