.card-body {
    padding: 15px;
    background-color:#fff;
    color: #0069cc;
    width:100%;
  }
  .card-title{
      text-transform: uppercase;
  }
  .card-link{
    color: #0069cc; 
    text-align: end; 
}
